html {
  height: 100%;
  background: darkgray;
  background-image: url("./pictures/old-cement-wall-texture_1149-1280.jpg");
}

body {
    background-image: url("./pictures/old-cement-wall-texture_1149-1280.jpg");
  } 

  .header {
      background-image: url("./pictures/stoneTexture.jpg"); 
      text-align: center;
      font-size: 65px;
      font-family: "MetSerif","Georgia","Times New Roman",Times,serif;
      background-color:darkslategrey;
      color: white;
      padding: 40px;
      border-bottom: darkslategrey;
      border-style: solid;
      text-shadow: 2px 2px rgb(12, 12, 12);
      letter-spacing: 4px;
  }

  .searchColumn {
    background-image: url("./pictures/corkBoard.jpg");
    background-color: darkgray;
    padding: 50px;
    margin: 5px;
    border: darkslategrey;
    border-style: solid; 
  }

  .displayColumn {
    padding: 50px;
    margin: 5px;
  }

    .image-frame
    {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .art-display
    {
      position: absolute;
      top: 12%;
      left: 38%;
      height: 50%;
      width: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  .mapLink {
    padding-bottom: 20px;
    position: absolute;
    font-size: 20px;
    margin-top: 20px;
    left: 10%;
  }

  .frame {
    margin-top: -50px;
    position: relative;
  }

 .infoCard {
    float: left;
    position: relative;
    margin: 15px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .artTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .date {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .location {
    position: absolute; 
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    margin: 15px;
  }

  #map-this{
      position:absolute;
      left:50%;
      
    }

  button {
    background-color: white; 
    border: none;
    padding: 15px 32px; 
    text-align: center;
    display: inline-block;
    font-size: 14px;
 }
  
