html {
  height: 100%;
  background: darkgray;
}

  body {
    background-image: url("./pictures/whitePaper.jpg");
  }

  .navbar {
    background-image: url("./pictures/wood_texture.jpg");
    margin-bottom: 15px;
    border-bottom: black;
    border-width: 5px;
    border-style: solid;
  }

  .image {
    padding: 20px;
    background-image: url("./pictures/wood_texture.jpg"); 
    border-width: 5px;
    border-style: solid;
    border-color: black;
  }