body, html {

  height: 100%;
  background: darkgray;
}

  .header {
    /* background: url(/assets/pictures/old-cement-wall-texture_1149-1280.jpg); */
      height: 50px;
      text-align: center;
      font-size: 25px;
      background-color:darkgray;
      color: darkred;
      padding: 50px;
      border-bottom: darkred;
      border-style: solid;
  }

  .searchColumn {
    /* background-color: darkgray; */
    padding: 50px;
    margin: 5px;
    border: darkred;
    border-style: solid; 
  }

  .displayColumn {
    padding: 50px;
    margin: 5px;
    border: darkred;
    border-style: solid;
  }

  .mapLink {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

