html {
  height: 100%;
  background: darkgray;
  background-image: url("./pictures/old-cement-wall-texture_1149-1280.jpg");
}

body {
    background-image: url("./pictures/old-cement-wall-texture_1149-1280.jpg");
  } 

  .header {
      background-image: url("./pictures/stoneTexture.jpg"); 
      text-align: center;
      font-size: 65px;
      font-family: "MetSerif","Georgia","Times New Roman",Times,serif;
      background-color:darkslategrey;
      color: white;
      padding: 40px;
      border-bottom: darkslategrey;
      border-style: solid;
      text-shadow: 2px 2px rgb(12, 12, 12);
      letter-spacing: 4px;
  }

  .searchColumn {
    background-image: url("./pictures/corkBoard.jpg");
    height: 50%;
    background-color: darkgray;
    padding: 50px;
    margin: 5px;
    border: darkslategrey;
    border-style: solid; 
  }

  .displayColumn {
    padding: 50px;
    margin: 5px;
  }

    .image-frame
    {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .art-display
    {
      position: absolute;
      top: 0%;
      left: 0%;
      height: auto;
      width: fit-content;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  .mapLink {
    color: white;
    padding: 5px;
    background-color: white;
    font-size: 20px;
  }

  .frame {
    margin-top: -50px;
    position: relative;
  }

 .infoCard {
    margin: auto;
    width: 50%;
    height: auto;
    padding: 10px;
    position: relative;
  }

  .artTitle {
    position: absolute; 
    top: 10%;
    text-align: center;
    margin:5px;
    width:95%;
  }

  .name {
    position: absolute; 
    top: 25%;
    text-align: center;
    margin:5px;
    width:95%;
  }

  .date {
    position: absolute;
    top: 40%;
    text-align: center;
    margin:5px;
    width:95%;
  }

  .location {
    position: absolute; 
    top: 55%;
    text-align: center;
    margin:5px;
    width:95%;
  }

  .art-medium {
    position: absolute;
    top:70%;
    text-align: center;
    margin:5px;
    width:95%;
  }

  .info {
    margin: 15px;
  }

  #map-this{
      position:absolute;
      left:50%;
      
    }

  button {
    background-color: white; 
    border: none;
    padding: 15px 32px; 
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 0 auto;
 }
  
.dropdown {
  margin-bottom: 3px;
}

#submit-button {
  margin-bottom: 3px;
}

#search-input {
  margin-bottom: 3px;
}